<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sacrament Meeting Program</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <% if @template&.scripts %>
    <script>
        <%= @template.scripts.html_safe %>
    </script>
  <% end %>
  <% if @template&.styles %>
    <style>
        <%= @template.styles.html_safe %>
    </style>
  <% end %>
</head>
<body>
<div id="body-wrapper" class="container">
  <div id="body-content" class="row">
    <%= yield %>
  </div>
</div>
</body>
</html>